<form role="form">
<div class="text-center">
	<span class="text-muted">Welcome to twitter bootstrap based chat system. Please enter your name to proceed.</span>
</div>

<div class="col-md-6 col-md-offset-3">
	<label id="login-label" class="" for="#login-input">Your Name</label>
	<div class="input-group">
		<input type="text" class="form-control" id="name-input" placeholder="Enter your name">
		<span class="input-group-btn">
	        <button class="btn btn-default" id="login-btn" type="button">Go!</button>
		</span>
	</div>
</div>
</form>