  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#contact-list-container" href="#collapse{{id}}">
        {{name}}
      </a>
    </h4>
  </div>
  <div id="collapse{{id}}" class="panel-collapse collapse">
    <div class="panel-body">
      <button type="button" class="btn btn-default" id="start-conversation-btn">Rozmowa</button>
    </div>
  </div>