
    <div class="well list-container" id="chat-messages-container"> 
        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Patryk</b> 8:20: </div>
            <div id="message-text"> 1 hellou </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>kik</b> 8:20: </div>
            <div id="message-text"> 1 hellou </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Patryk</b> 8:20: </div>
            <div id="message-text"> 1 hellou </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Reveh</b> 8:20: </div>
            <div id="message-text"> hellou?>! </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Maciej</b> 8:20: </div>
            <div id="message-text"> A luie luie </div>
        </div>
        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Patryk</b> 8:20: </div>
            <div id="message-text"> 1 hellou </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>kik</b> 8:20: </div>
            <div id="message-text"> 1 hellou </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Patryk</b> 8:20: </div>
            <div id="message-text"> 1 hellou </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Reveh</b> 8:20: </div>
            <div id="message-text"> hellou?>! </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Maciej</b> 8:20: </div>
            <div id="message-text"> A luie luie </div>
        </div>
        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Patryk</b> 8:20: </div>
            <div id="message-text"> 1 hellou </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>kik</b> 8:20: </div>
            <div id="message-text"> 1 hellou </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Patryk</b> 8:20: </div>
            <div id="message-text"> 1 hellou </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Reveh</b> 8:20: </div>
            <div id="message-text"> hellou?>! </div>
        </div>

        <div class="chat-message" id="message">
            <div id="message-sender" class="text"><b>Maciej</b> 8:20: </div>
            <div id="message-text"> A luie luie </div>
        </div>
    </div>
    
    <div class="input-group" id="send-message-group">
        <input id="message-input" type="text" class="form-control">
    </div>