<div id="application">
	<div class="header">
	    <h1 class="text-muted">Bootstrap chat</h1>
	</div>
	<div class="row main-row">
	    <div class="col-md-9" id="main-region">      
	    </div>
	    <div class='col-md-3' id='additional-region'>   
	    </div>
	</div>

	<div class="row bottom-row" id="conversations-region">
	</div>
</div>	
	

