<div id="nickWrap">
    <p>"Enter your name"</p>
    <p id="nickError"></p>
    <form id="setNick">
        <input size="35" id="nickname"></input>
        <input type="submit"></input>
    </form>
</div>

<div id="contentWrap">
    <div id="chatWrap">
        <div id="chat"></div>
            <form id="send-message">
                <input size="35" id="message"></input>
                <input type="submit"></input>
            </form>
        </div>
    <div id="users"></div>
</div>