<div class="container">
	<div class="hero-unit">
		<h1>{{success}}</h1>
		<p>You now have</p>
		<p>hmm...?</>
		<ul>
			<li>HTML5 Boilerplate</li>
			<li>jQuery</li>
			<li>kiko!</li>
			<li>lolo</li>
			<li>Backbone.js</li>
			<li>Marionette.js</li>
			<li>Underscore.js</li>
			<li>Handlebars.js</li>
			<li>RequireJS</li>
			<li>Twitter Bootstrap</li>
			<li>Express</li>
		</ul>

		<p>installed.</p>
		<h3>Enjoy coding!</h3>
		<form>
			<input type="button" value="goToChat" onclick="msg()">
		</form>

	</div>
</div>